
  h1, p {
    text-align:center;
    font-size:25px;
    margin-bottom:15px;
    margin-top:10px;
    background-color: rgb(145, 37, 37);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    color: #ffffff;
  }
h1 {
    padding-top:17px;
    font-size:35px;
  }
  .content {
    max-width:500px;
    max-height:1150px;
    height:120%;
    margin:auto;
    margin-bottom:0px;
    padding-bottom:0px;
    border-left: 1px solid #0000003d;
    border-right: 1px solid #0000003d;
  }
  label {
    display:block;
    margin:0.5rem 0;
    width:65%;
    font-size:19px;
  }
  form {
    margin: auto;
    padding: 20px;
    border-radius: 35px;
  }
  .radio {
    width:unset;
    vertical-align:middle;
    margin:0 0.5em 0 0;
  }
  #final{
    width:110%;
  }
  #name, #email, textarea, select{
    width:150%;
    max-width:200%;
  }
  input, textarea, select {
    border-radius:7px;
    font-size:14px;
  }
  textarea {
    max-width:110%;
    max-height:200px;
  }    